<div class="col-xs-10 d-table-col">
  <div class="tab-content" style="">
    <div id="home" class="tab-pane fade in active">
      <div class="buttons-all-done">
        <div class="row">
          <div class="col-xs-12">
            <div class="buttons-all">
              <div class="button1">
                <div class="btn-group">
                  <button type="button" class="btn">Board</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">CBSE</a></li>
                    <li><a href="#">Cambridge</a></li>
                  </ul>
                </div>
              </div>
              <div class="button2">
                <div class="btn-group">
                  <button type="button" class="btn">Class</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">class 11</a></li>
                    <li><a href="#">class 12</a></li>
                  </ul>
                </div>
              </div>

              <div class="button3">
                <div class="btn-group">
                  <button type="button" class="btn">Group</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">MPC</a></li>
                    <li><a href="#">BiPC</a></li>
                  </ul>
                </div>
              </div>


              <div class="button3">
                <div class="btn-group">
                  <button type="button" class="btn">Subject</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Maths</a></li>
                    <li><a href="#">Physics</a></li>
                  </ul>
                </div>
              </div>

              <div class="button3">
                <div class="btn-group">
                  <button type="button" class="btn">Chapter</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Trignometry</a></li>
                    <li><a href="#">Vector</a></li>
                  </ul>
                </div>
              </div>

              <div class="button3">
                <div class="btn-group">
                  <button type="button" class="btn">Topic</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Topic 1</a></li>
                    <li><a href="#">Topic 2</a></li>
                  </ul>
                </div>
              </div>



            </div>
          </div>

        </div>
      </div>



      <div class="card-one left-bg">
        <h3>Info</h3>

        <table class="table table-bordered" border="1" style="width: 100%;" id="table">
          <tr>
            <th>Video's</th>
            <th>PPT's</th>
            <th>PDF's</th>
            <th>Quizzie's</th>
          </tr>

          <tr>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>


          </tr>
          <tr>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>


          </tr>
          <tr>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>
            <td style="padding: 10px;">Introduction</td>


          </tr>
          <tr>
            <td style="padding: 10px;">
              <div class="fileUpload btn add-videos">
                <span class="glyphicon glyphicon-plus"></span>  <span>Add more videos</span>
                <input type="file" class="upload" />
              </div>		</td>
            <td style="padding: 10px;">
              <div class="fileUpload btn add-videos">
                <span class="glyphicon glyphicon-plus"></span>  <span>Add more videos</span>
                <input type="file" class="upload" />
              </div>		</td>
            <td style="padding: 10px;">
              <div class="fileUpload btn add-videos">
                <span class="glyphicon glyphicon-plus"></span>  <span>Add more videos</span>
                <input type="file" class="upload" />
              </div>		</td>
            <td style="padding: 10px;">
              <div class="fileUpload btn add-videos">
                <span class="glyphicon glyphicon-plus"></span>  <span>Add more videos</span>
                <input type="file" class="upload" />
              </div>		</td>

          </tr>
        </table>
      </div>



    </div>
  </div>
</div>
